
<form action="/teams" method="post">
  <p>Team Name:<input type="text" name="team[name]"/></p>
  <p>Team Motto:<input type="text" name="team[motto]"/></p>
  <p>Superhero Name:<input type="text" name="superhero[memebers][][name]"/></p>
  <p>Superhero Power:<input type="text" name="superhero[memebers][][power]"/></p>
  <p>Superhero Bio:<input type="text" name="superhero[memebers][][bio]"/></p>
  <p>Superhero Name:<input type="text" name="superhero[memebers][][name]"/></p>
  <p>Superhero Power:<input type="text" name="superhero[memebers][][power]"/></p>
  <p>Superhero Bio:<input type="text" name="superhero[memebers][][bio]"/></p>
  <p>Superhero Name:<input type="text" name="superhero[memebers][][name]"/></p>
  <p>Superhero Power:<input type="text" name="superhero[memebers][][power]"/></p>
  <p>Superhero Bio:<input type="text" name="superhero[memebers][][bio]"/></p>
  <input type="submit" value="Sumbit">
</form>
